.feed{
    flex:5.5
    
}

.feedWrapper{
    padding: 20px;
}

#youowneruser {
    text-align: center;
    margin-top: 35px;
}
#nopostuser {
    text-align: center;
    display: inline-block;
   justify-content: center;
}
